!!!
%html
  %head
    %title Coffee and Learnings voting app
    %link{rel: 'stylesheet', href:'//fonts.googleapis.com/css?family=Arapey:400italic,400'}/
    %link{rel: 'stylesheet', href:'//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200'}/
    %link{rel: 'stylesheet', href: 'style.css'}/
    %meta{property: 'og:title', content: 'Coffee and Learnings voting app'}/
    %meta{property: 'og:type', content: 'website'}/
    %meta{property: 'og:url', content: root_url}/
    %meta{property: 'og:description', content: 'FB Dublin Coffee and Learnings whitepaper selection app'}/
  %body
    :javascript
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '749956035082575',
          xfbml      : true,
          version    : 'v2.2'
        });
      };
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    = yield
